<html lang="fi">
  <head>
    <meta charset="UTF-8">
    <title>
      Opiskelijaravintolat
    </title>

    <style>

      h1 {
        display: block;
        padding: 10px;
        background-color: hsl(145, 33%, 46%);
        color: white;
      }
      
      .form-container {
        display: grid;
        grid-template-columns: max-content auto;
        gap: 10px 20px;
        align-items: center;
      }

      .form-row {
        padding: 5px 0;
      }

    </style>

  </head>
  <body>
    <h1>Opiskelijaravintolat</h1>

    <p>Tervetuloa! Kirjaudu sisään päästäksesi palveluun.</p>

    <hr>

    <p>
        <form action="/login" method="post">
          <div class="form-container">
            <label for ="username" class="form-row" >Käyttäjätunnus:</label>
            <input type="text" name="username" size="20" class="form-row">

            <label for ="password" class="form-row" >Salasana:</label>
            <input type="password" name="password" size="20" class="form-row">

            
            <input type="submit" value="Kirjaudu sisään">
            <a href="{{url_for('register')}}"> Etkö ole rekisteröitynyt? </a>
        </div>
        </form>
    </p>
  </body>
</html>
