{% extends "layout.html" %}

    {% block heading %}
    <style>
    
    .container {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;
    }

    .create_restaurant_button {
        background-color: rgb(87, 103, 206);
        padding: 7px;
        display: inline-block;
        text-align: center;
        border-radius: 10px;
    }

    #create_button_label {
        text-decoration: none;
        color: white;
    }


    </style>
    {% endblock %}



{% block content %}



    <div class="container">

    <table style="width:100%">
        
        <tr>
            <th>Ravintola</th>
            <th>Tähdet</th>
            <th>Odotusaika</th>
            <th>Kaupunki</th>
        </tr>
        
        {% for restaurant in restaurants %}

        <tr> 
          <td><a href="/restaurants/{{ restaurant.name }}">{{restaurant.name}}</a></td>
          <td>{{restaurant.stars}}</td>
          <td>{{restaurant.wait_time}} min</td>
          <td>{{restaurant.city}}</td>
        </tr>

        {% endfor %}

    </table>

    <div class="create_restaurant_button">
        <aside><a id="create_button_label" href="/{{ session['user'] }}/restaurants/new_restaurant"> Lisää uusi ravintola </a></aside>
    </div>


    </div>  

    

{% endblock %}