{% extends "layout.html" %}
{% block heading %}
    <style>
    table,
    th,
    td {
        border-collapse: collapse;
        text-align: center;
    }

    th {
        padding: 5px;
    }
    td {
        padding: 2px;
    }

    </style>
{% endblock %}


{% block content %}

    <table style="width:100%">
        
        <tr>
            <th>Ravintola</th>
            <th>Ravintoloitsija</th>
            <th>Tähdet</th>
            <th>Odotusaika</th>
            <th>Kaupunki</th>
        </tr>
        
        {% for restaurant in restaurants %}

        <tr> 
          <td><a href="/restaurants/{{ restaurant.name }}">{{restaurant.name}}</a></td>
          <td>{{restaurant.owner}}</td>
          <td>{{restaurant.stars}}</td>
          <td>{{restaurant.wait_time}} min</td>
          <td>{{restaurant.city}}</td>
        </tr>

        {% endfor %}

    </table>

{% endblock %}

