{% extends "layout.html" %}

    {% block heading %}
    <style>

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 500px;
    }
    
    form {
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            max-width: 1400px;
            min-width: 500px;
            margin-left: auto;
            margin-right: auto;
        }
    
    #deletebutton {
            margin-top: 30px;
            text-decoration: none;
            color: white;
            background-color: hsl(145, 33%, 25%);
            padding: 10px;
            border-radius: 10px;
            max-width: 150px;
            
    }   

    #deletebutton:hover{
            background-color: red;
        }

    </style>


    {% endblock %}



{% block content %}

<div class="container">

<form action="/{{ session['user'] }}/restaurants/{{ restaurant.name }}" method="post">
        
    <label for ="restaurant_name" class="form-row" >Ravintolan nimi:</label>
    <input type="text" name="restaurant_name" size="20" value="{{ restaurant.name }}"required>

    <label for ="address" class="form-row" >Osoite:</label>
    <input type="text" name="address" size="20" value="{{ restaurant.address }}"required>

    <label for ="city" class="form-row" >Kaupunki:</label>
    <input type="text" name="city" size="20" value="{{ restaurant.city }}"required>

    <label for ="infotext" class="form-row" >Infoteksti:</label>
    <input type="text" name="infotext" size="20" value="{{ info.infotext }}"required>

    <label for ="open_times" class="form-row" >Aukioloajat:</label>
    <input type="text" name="open_times" size="20" value="{{ info.open_times }}"required>
    

    {% if menu and menu|length > 0 %}
    <br><br>
        {% for item in menu %}

            <label for="name_{{ item.id }}">Ruoka:</label>
            <input type="text" name="name_{{ item.id }}" value="{{ item.food }}" required>
            <label for="price_{{ item.id }}">Hinta:</label>
            <input type="number" step="0.01" name="price_{{ item.id }}" value="{{ item.price }}" required>
            <label for="{{ item.id }}_delete">Poista ruoka:</label>
            <input type="checkbox" name="{{ item.id }}_delete" value="True">

        {% endfor %}
    {% endif %}

    <br>
    <label for="menuitem">Uusi ruoka:</label>
    <input type="text" name="menuitem">
    <label for="menuitem_price">Hinta:</label>
    <input type="number" step="0.01" name="menuitem_price">
    <br>


    <input id="submit_button" type="submit" value="Päivitä tietoja">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">


</form>

<a id="deletebutton" href="/{{ session['user'] }}/restaurants/{{ restaurant.name }}/delete_restaurant">Poista ravintola</a>
</div>
{% endblock %}